 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
 *{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
 } 
 body{
    background-color: rgb(0, 0, 0, 1);
    color: aliceblue;
 }

 /* Navbar design */
 .navbar{
    display: flex;
    padding: 5px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

 }
 .navbar>p{
    
    font-size: 36px;
    font-style: italic;
    color:#e6533c;
    /* padding: 5px; */
    font-weight: bold;

 }
 .menu-container{
    border: 1px solid rgb(53, 52, 48);
    display: flex;
    gap: 47px;
    align-items: center;
    border-radius: 30px;
    padding: 2px 5px;
    justify-content: space-around;
 }
 .home-btn{
    background-color: #e6533c;
    padding: 5px 20px;
    border-radius: 44px;

 }
 .navbar i {
    display: none;
 }

 /* banner design */
 .banner-container{
   padding: 10px;
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
   
 }
 .banner-left{
   
   min-height: 200px;
   width: 50%;
 }
 .banner-left>h1{
   font-size: 78px;

 }
 .banner-left>p{
   margin: 28px;

 }
 .banner-btn{
   display: flex;
   
   
 }
   
 .btn-1{
   width: 200px;
   height: 54px; 
   background-color: #e6533c;
   border-radius: 42px;
   color: white;
   
 }

.btn-2{
   width: 200px;
   height: 54px;
   border-radius: 42px;
   background-color: transparent;
   color: aliceblue;
   border: 1px solid gray;

}

 .banner-right{
   
   min-height: 200px;
   width: 50%;
   display: flex;
   justify-content:right;
   position: relative;

 }
 .banner-right img{
   width: 55%;

 }
 .tooltip-1{
   background-color: rgba(128, 128, 128, 0.356);
   position: absolute;
   right: 0;
   padding: 15px 20px;
   border-radius: 10px;
   width: 190px;
   height: 90px;
   top: 25%;
   right: -15%;

 }
 .tooltip-2{
   display: flex;
   gap:5%;
   background-color: rgba(128, 128, 128, 0.192);
   position: absolute;
   padding: 5px 3px;
   border-radius: 10px;
   width: 190px;
   height: 80px;
   bottom: 10%;
   left: 30%;
   justify-content:center;  
   align-items: center;  
   
 }
 .circle{
   color: #e6533c;
   font-size: 30px; 
 
 }

   
 











 @media screen and (max-width:400px) {
    .menu-container{
        display: none;
    
    }
    .navbar i {
    display: inline;
   }
    .banner-container{
      flex-direction: column;
   }
    .banner-left,.banner-right{
     width: 100%;
    }
    .banner-right img{
     width: 100%;
   }
   
}